body {
  background-color: #323c7f;
  color: #b1bbff;
  margin: 0 auto;
}

h1 {
  font-family: 'Philospher', sans-serif;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 4em 0 2em;
  transition: all 1s;
}

form {
  display: block;
  position: relative;
  transition: all 1s step-start;
  margin: 0 auto;
  text-align: center;
}

a,
a:active,
a:visited,
a:focus {
  color: #b1bbff;
}

i.glyphicon {
  font-size: 2em;
}

.random-link {
  display: block;
  margin: 15px auto;
  text-align: center;
}

#panel-wrapper {
  width: 90%;
  margin: 0 auto;
}

#search-field-tool {
  text-align: center;
}

#search-field {
  max-width: 90vw;
  margin: 0 auto;
  width: 0px;
  display: inline;
  border: none;
  font-size: 2em;
  transition: all 0.7s ease;
  background: #323c7f;
}

#search-field.search-field-expanded {
  background-color: #252d5e;
  width: 380px;
}
@media screen and (min-width: 381px) {
  #search-field.search-field-expanded {
    padding: 0 0 0 1rem;
    margin: 0 0 0 0.5em;
  }
}

#search-icon {
  cursor: pointer;
  display: inline;
  height: 100%;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: whitesmoke;
}

#svg-search-line {
  display: block;
  width: 80px;
  height: 4px;
  margin: 0.5em auto;
  text-align: center;
  transition: all 0.7s ease;
}

#svg-search-line.search-line-extended {
  width: 400px;
}

#random-icon {
  transition: color 0.3s ease-out;
}

#random-icon:hover {
  color: whitesmoke;
}

.hit-title {
  font-size: 1.5em;
  font-weight: 600;
}

.hit {
  width: 90%;
  display: inline-block;
  border: 2px solid #5460ab;
  background-color: #222c6f;
  margin: 7px auto;
  padding: 0.5em;
  text-align: left;
  transition: border 0.3s;
}

.hit:nth-child(n) {
  margin: 7px auto;
  display: block;
}

.hit-noresult {
  text-align: center;
  font-size: 2em;
}

.hit:hover {
  border-color: whitesmoke;
  box-shadow: 2px 2px 7px 3px rgba(48,54,97,0.25);
  transition: all 0.15s ease-out;
}
