body {
  background-color: #323C7F;
  color: #B1BBFF;
  margin: 0 auto;
}

h1 {
  font-family: 'Philospher', sans-serif;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 4em 0 2em;
  transition: all 1s;
}

a:link {
  /*color: #6577FF;*/
  color: #B1BBFF;
  text-decoration: none;
}

form {
  display: inline-block;
  margin: auto;
}

i.glyphicon {
  font-size: 2em;
}

div#search-field-tool {
  text-align: center;
}

#search-field {
  width: 0px;
  padding: 0 0 0 -1em;
  margin: 0 0 0 0.5em;
  display: inline-block;
  background-color: #323C7F;
  border: none;
  font-size: 2em;
  transition: all 1s;
}

#search-icon {
  cursor: pointer;
  display: inline-block;
}

.left-padded {
  padding: 0 0 0 2em;
}

#svg-search-line {
  display: block;
  width: 80px;
  height: 4px;
  margin: 0.5em auto;
  text-align: center;
  transition: all 1s;
}
/*
#random-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
}
*/

span {
  display: block;
  margin: auto;
  text-align: center;
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.hit-title {
  font-size: 1.5em;
  font-weight: 600;
}

a:visited {
  color: #B1BBFF;
}

.hit {
  width: 90%;
  display: inline-block;
  border: 2px solid #6577FF;
  background-color: #222C6F;
  margin: 7px 10%;
  padding: 0.5em;
  text-align: center;
  transition: border 0.3s;
}

.hit-noresult {
  text-align: center;
  font-size: 2em;
}

.hit:hover {
  border-color: white;
  -ms-box-shadow: 0 0 4px 2px;
  -moz-box-shadow: 0 0 4px 2px;
  -webkit-box-shadow: 0 0 4px 2px;
  box-shadow: 0 0 4px 2px;
  transition: all 0.2s;
}

#panel-wrapper {
  width: 90%;
  margin: 0 10%;
}
